.DS_Store
sh.exe.stackdump

*.log

node_modules/

# Hexo sites
/.knosys/sites/*/source/_data/knosys/
/.knosys/sites/*/source/knosys/
/.knosys/sites/*/source/_posts/*
!/.knosys/sites/*/source/_posts/hello-world.md
# /.knosys/sites/*/themes/*/layout/*
# !/.knosys/sites/*/themes/*/layout/_local/
# /.knosys/sites/*/themes/*/scripts/
# /.knosys/sites/*/themes/*/source/fonts/*
# /.knosys/sites/*/themes/*/source/images/*
# !/.knosys/sites/*/themes/*/source/images/local/
# /.knosys/sites/*/themes/*/source/javascripts/*
# /.knosys/sites/*/themes/*/source/stylesheets/*
# !/.knosys/sites/*/themes/*/source/stylesheets/_helper.scss
# !/.knosys/sites/*/themes/*/source/stylesheets/global.scss
# /.knosys/sites/*/themes/*/_config.yml
/.knosys/sites/*/public/
/.knosys/sites/*/.deploy*/
/.knosys/sites/*/_multiconfig.yml
/.knosys/sites/*/Thumbs.db
/.knosys/sites/*/db.json
/.knosys/sites/*/package.json
/dist/
