<% let _inc_repo, _inc_repo_url %>
<% if (external === true) { %>
  <% _inc_repo = site.data['local/externals'][slug] %>
  <% _inc_repo_url = _inc_repo.url %>
<% } else { %>
  <% _inc_repo = site.data['knosys/repos'].items[slug] %>
  <% _inc_repo_url = `/topics/${slug}/` %>
<% } %>
<div class="Card Person">
  <a class="Card-link Person-link" href="<%= _inc_repo_url %>"<% if (external) { %> target="_blank" rel="nofollow"<% } %>>
    <% const repo_banner = _inc_repo.banner ? _inc_repo.banner.url : 'images/local/banners/knowledge-base.jpg' %>
    <div class="Person-header" style="background-image: url('<%= url_for(repo_banner) %>');">
      <div class="Person-brief">
        <h4 class="Person-name" data-toc-skip="true"><%= _inc_repo.title %></h4>
      </div>
    </div>
    <div class="Person-body">
      <div class="Person-description"><%= _inc_repo.description %></div>
    </div>
  </a>
</div>
